CELO_IMAGE=us.gcr.io/celo-testnet/celo-node:baklava
NETWORK_ID=200110
CELO_VALIDATOR_ADDRESS=<fill-in-yours>
CELO_VALIDATOR_GROUP_ADDRESS=<fill-in-yours>
CELO_VALIDATOR_SIGNER_ADDRESS=<fill-in-yours>
CELO_VALIDATOR_SIGNER_PUBLIC_KEY=<fill-in-yours>
CELO_VALIDATOR_SIGNER_SIGNATURE=<fill-in-yours>
CELO_VALIDATOR_SIGNER_BLS_PUBLIC_KEY=<fill-in-yours>
CELO_VALIDATOR_SIGNER_BLS_SIGNATURE=<fill-in-yours>
PROXY_ENODE=<fill-in-yours>
PROXY_EXTERNAL_IP=<fill-in-yours>
PROXY_INTERNAL_IP=<fill-in-yours>
VALIDATOR_NAME=<fill-in-yours>
CELO_ACCOUNT_DIR=/home/ubuntu/Documents/celo-accounts-node
CELO_VALIDATOR_DIR=/home/ubuntu/Documents/celo-accounts-node
CELO_PROXY_DIR=/home/ubuntu/Documents/celo-proxy-node
CELO_ATTESTATION_DIR=/home/ubuntu/Documents/celo-accounts-node
BOT_TOKEN=fill-in-yours>