CELO_IMAGE=us.gcr.io/celo-testnet/celo-node:baklava
NETWORK_ID=200110
CELO_VALIDATOR_ADDRESS=
CELO_VALIDATOR_GROUP_ADDRESS=
CELO_VALIDATOR_SIGNER_ADDRESS=
CELO_VALIDATOR_SIGNER_PUBLIC_KEY=
CELO_VALIDATOR_SIGNER_SIGNATURE=
CELO_VALIDATOR_SIGNER_BLS_PUBLIC_KEY=
CELO_VALIDATOR_SIGNER_BLS_SIGNATURE=
PROXY_ENODE=
PROXY_EXTERNAL_IP=
PROXY_INTERNAL_IP=
VALIDATOR_NAME=
